* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgb(0, 150, 136)15%, rgb(220, 212, 206)15%);
}

.container {
    max-width: 1300px;
    height: 95%;
    background-color: white;

}

.container-contact {
    width: 35%;
    height: 100%;
    background-color: antiquewhite;
}

.container-chat {
    width: 65%;
    display: flex;
    flex-direction: column;
    background-image: url(../img/mine.jpg);

}

.container-card {
    width: 100%;
    height: 70%;
}

.contenitore-messaggi {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: calc(100% - 180px);
    margin: 10px 50px
}

.navbar {
    height: 80px;
    width: 100%;
}

.no-notifiche {
    width: 100%;
    height: 10%;
    background-color: #8EDAFC;
}

.notifica {
    height: 100%;
}

.card {
    width: 100%;
    height: 10%;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;

}

.navImgName {
    width: 100%;
    display: flex;
    align-items: center;
}

.userActive {
    width: 20%;
    height: 80px;
    line-height: 80px;
}

.userActive>img {
    margin-top: 0.75rem;
}

.info {
    width: 100%;

}

img {
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: inherit;
}

.container-fluid>.navImgName>img {
    min-width: 50px;
}

.message-class {
    max-width: 65%;
    border-radius: 5px;
    padding: 0.5rem;

}

.utente-green {
    background-color: #D5F9BA;
    align-self: flex-end;
}

.interlocutore-white {
    background-color: white;
    align-self: flex-start;

}

.utente-green,
.interlocutore-white {
    width: 45%;
    margin-top: 10px;
}

.footer-container {
    width: 100%;
    height: 80px;
    background-color: #8EDAFC;
}

.footer-container>.form-control {
    width: 80%;
    height: 50px;
}